<div width="100%" height="100%" style="height: 100%; padding: 0; margin: 0; background: #fafafa;font-family: 'Helvetica', san-serif; text-align: center;">
<table align="center" style="padding:0; margin: 0 auto 60px;">
	<tr>
    	<td align="center" style="padding: 30px 0">
        	<img src="{$sitio_url}/assets/img/logo-admin.png" alt="Cace Global"/>
    	</td>
    </tr>
	<tr>
		<td align="center">
			<table width="500" height="300" style="background: white;">
		    	<thead>

		        </thead>
		    	<tbody>
		        	<tr>
		            	<td align="center" style="padding: 30px 60px ; padding-top: 60px;">

		               
						   <h2 style="margin: 0 0 30px; padding: 0; color: #074056;">¡Hola {$usuario}! :)</h2>
						   <p style="margin-top: 30px;">Solo queda un último paso</p>
						   <p style="margin-top: 60px;">
						     <a href="{$verificar_link}" style="text-decoration: none; color:white; background: #4582DD; padding: 20px 30px; border-radius: 0px; margin: 30px 0; height: 35px;">
						         VERIFICAR TU EMAIL
						     </a>
						   </p>
						   <p style="margin-top: 60px; font-size: 14px; color: #666;">
							   Si el link no abre correctamente,<br>probá copiándolo y pegándolo en tu navegador.</p>
							   <p style="color:#5b9bd1; font-size: 14px; margin-top: 15px;">{$verificar_link}</p>
							   
						   </p>


		                </td>

		            </tr>
		            
		        </tbody>
		        
		    </table>
		</td>
	</tr>
	<tr>
		<td align="center" style="text-align: center; padding: 30px; color:#666;">					
			<a style="color:#5b9bd1; text-decoration: none;" href="{$sitio_url}">CACE guía de proveedores</a> &copy; 2018
		</td>
	</tr>
	
</table>
<div style="clear:both;"></div>
</div>
