<div width="100%" height="100%" style="height: 100%; padding: 0; margin: 0; background: #fafafa;font-family: 'Helvetica', san-serif; text-align: center;">
<table align="center" style="padding:0; margin: 0 auto 60px;">
	<tr>
    	<td align="center" style="padding: 30px 0">
        	<img src="{$sitio_url}/assets/img/logo-admin.png" alt="Cace Global"/>
    	</td>
    </tr>
	<tr>
		<td align="center">
			<table width="500" height="300" style="background: white;">
		    	<thead>

		        </thead>
		    	<tbody>
		        	<tr>
		            	<td align="center" style="padding: 30px 60px ; padding-top: 60px;">


				            Hola Administrador!<br/>
				            <p>Se ha EDITADO el anuncio <a href='{$anuncioLink}'>{$empresa_nombre}</a>.<br/>
				            Es necesario que entres al administrador y válides los cambios</p>

				            Saludos.
		               


		                </td>

		            </tr>
		            
		        </tbody>
		        
		    </table>
		</td>
	</tr>
	<tr>
		<td align="center" style="text-align: center; padding: 30px; color:#666;">					
			<a style="color:#5b9bd1; text-decoration: none;" href="{$sitio_url}">CACE guía de proveedores</a> &copy; 2018
		</td>
	</tr>
	
</table>
<div style="clear:both;"></div>
</div>
