/* COLORES */
/*button:focus {
  outline: none !important;
}
.bg-primary {
	background-color: $primary !important;
}
.bg-default {
	background-color: $default !important;
}
.bg-danger {
	background-color: $danger !important;
}
.bg-success {
	background-color: $success !important;
}
.bg-info {
	background-color: $info !important;
}
.bg-warning {
	background-color: $warning !important;
}
.bg-dark-grey {
	background-color: $dark-grey !important;
}
.bg-grey {
  background-color: $grey !important;
}
.bg-light-grey {
	background-color: $light-grey !important;
}
.bg-white {
	background-color: $white !important;
}
.bg-black {
	background-color: $black !important;
}

//TEXTS COLOR

.txt-primary {
	color: $primary !important;
}
.txt-default {
	color: $default !important;
}
.txt-danger {
	color: $danger !important;
}
.txt-success {
	color: $success !important;
}
.txt-info {
	color: $info !important;
}
.txt-warning {
	color: $warning !important;
}
.txt-dark-grey {
	color: $dark-grey !important;
}
.txt-grey {
	color: $grey !important;
}
.txt-light-grey {
	color: $light-grey !important;
}
.txt-white {
	color: $white !important;
}
.txt-black {
	color: $black !important;
}*/
.relative {
  position: relative; }

.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

.center {
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center; }

.image-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.first {
  margin-left: 0 !important;
  padding-left: 0 !important; }

.last {
  margin-right: 0 !important;
  padding-right: 0 !important; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.img-full {
  position: absolute;
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  -webkit-transform: translate(-50%, -50%);
  /* Safari */
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 100%;
  min-width: 100%;
  max-width: inherit !important; }

/*
.pull-right-not-xs, .pull-right-not-sm, .pull-right-not-md, .pull-right-not-lg {
    float: right;
}

.pull-left-not-xs, .pull-left-not-sm, .pull-left-not-md, .pull-left-not-lg{
    float: left;
}
@media (max-width: 767px) {
    .pull-right-not-xs, .pull-left-not-xs{
        float: none;
    }
    .pull-right-xs {
        float: right;
    }
    .pull-left-xs {
        float: left;
    }
}
@media (min-width: 768px) {
    .pull-right-not-sm, .pull-left-not-sm{
        float: none;
    }
    .pull-right-sm {
        float: right;
    }
    .pull-left-sm {
        float: left;
    }
}
@media (min-width: 992px) {
    .pull-right-not-md, .pull-left-not-md{
        float: none;
    }
    .pull-right-md {
        float: right;
    }
    .pull-left-md {
        float: left;
    }
}
@media (min-width: 1200px) {
    .pull-right-not-lg, .pull-left-not-lg{
        float: none;
    }
    .pull-right-lg {
        float: right;
    }
    .pull-left-lg {
        float: left;
    }
}
/*
 * Row with equal height columns
 * --------------------------------------------------
 */
@media (max-width: 767px) {
  .row.reorder-xs {
    transform: rotate(180deg);
    direction: rtl;
    /* Fix the horizontal alignment */ }
  .row.reorder-xs > [class*="col-"] {
    transform: rotate(-180deg);
    direction: ltr;
    /* Fix the horizontal alignment */ } }

body {
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.428571429;
  color: #777;
  background-color: #fff;
  /* GENERALES */
  /* REGISTRO E INICIO */ }
  body a:hover {
    text-decoration: none; }
  body h1 {
    font-size: 30px;
    text-transform: uppercase; }
  body h2 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    color: #222222; }
  body h3 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    color: #777777; }
  body #page {
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out; }
  body.offcanvas {
    overflow: hidden; }
    body.offcanvas #page {
      position: relative;
      transform: translate(-300px); }
  body .logo {
    width: 110px;
    height: 90px;
    display: inline-block;
    margin-right: 0;
    float: left;
    background: url(../img/logo-cace.png) no-repeat right center; }
  body #small-button {
    font-size: 25px;
    padding: 5px 15px;
    margin-top: 5px;
    background: #095d7e;
    color: #fff;
    border-color: #095d7e;
    border-radius: 0; }
    body #small-button:hover {
      background: #074056;
      border-color: #074056; }
  body #btnSlideup {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 8px;
    bottom: 8px; }
  body .bg-blue {
    background: #095d7e !important; }
  body .bg-gris {
    background: #ececed !important; }
  body .cace-main-container {
    padding: 0 60px;
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
  @media (max-width: 767px) {
    body .container-profesionales {
      max-width: 500px;
      margin: 0 auto; } }
  body .container-profesionales.formulario {
    margin-bottom: 50px; }
  body .top-header {
    height: 30px;
    background: #074056;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    overflow: hidden; }
    body .top-header ul {
      margin-top: 6px; }
      body .top-header ul li a {
        color: #fff; }
        body .top-header ul li a:hover {
          color: #efa11d;
          text-decoration: none; }
    body .top-header .container-fluid {
      padding-left: 60px;
      padding-right: 60px; }
  body #masthead {
    overflow: hidden;
    z-index: 4;
    position: relative; }
    body #masthead .primary-header {
      width: 100%;
      height: 90px;
      overflow: hidden;
      z-index: 4;
      position: relative;
      height: 90px;
      background: #095d7e; }
    body #masthead .site-description h1 {
      vertical-align: middle;
      margin-top: 20px; }
      body #masthead .site-description h1 img {
        padding-left: 15px; }
  body #secondary-menu {
    color: #fff;
    text-transform: uppercase;
    margin-top: 33px;
    font-size: 12px; }
    body #secondary-menu ul li {
      margin-left: 5px; }
      body #secondary-menu ul li a {
        color: #fff; }
      body #secondary-menu ul li.icon {
        font-size: 20px;
        margin-top: -5px;
        color: #fff; }
  body #nav-principal {
    background: #ececed;
    z-index: 99;
    position: relative;
    border-bottom: 2px solid #ccc; }
    body #nav-principal.menu-fixed {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%; }
    body #nav-principal .navbar {
      margin-left: -32px;
      padding-top: 0px;
      padding-bottom: 0px; }
      body #nav-principal .navbar .nav-item {
        opacity: 1;
        margin-bottom: -2px;
        border-bottom: 2px solid transparent; }
        body #nav-principal .navbar .nav-item .nav-link {
          color: #777;
          padding: 12px 15px;
          line-height: 20px;
          text-transform: uppercase; }
          body #nav-principal .navbar .nav-item .nav-link:hover {
            background: #095d7e;
            color: #fff;
            border-bottom: 2px solid #074056;
            margin-bottom: -2px; }
        body #nav-principal .navbar .nav-item.home .nav-link {
          height: 44px;
          padding: 0px;
          line-height: 44px;
          width: 44px;
          text-align: center; }
          body #nav-principal .navbar .nav-item.home .nav-link:hover {
            height: 46px; }
        body #nav-principal .navbar .nav-item.medicos {
          margin-left: 4px;
          border-color: #4582DD; }
          body #nav-principal .navbar .nav-item.medicos .nav-link:hover {
            background: #4582DD; }
        body #nav-principal .navbar .nav-item.estetica {
          border-color: #CD3955; }
          body #nav-principal .navbar .nav-item.estetica .nav-link:hover {
            background: #CD3955; }
        body #nav-principal .navbar .nav-item.online {
          border-color: #75AD24; }
          body #nav-principal .navbar .nav-item.online .nav-link:hover {
            background: #75AD24; }
        body #nav-principal .navbar .nav-item.cacetv {
          border-color: #57585a; }
          body #nav-principal .navbar .nav-item.cacetv .nav-link:hover {
            background: #57585a; }
  body footer {
    color: #fff;
    bottom: 0;
    position: relative;
    padding-top: 60px !important;
    padding-bottom: 60px !important; }
    body footer h5 {
      text-transform: inherit;
      line-height: 30px;
      font-weight: 400;
      font-size: 13px;
      margin-top: 10px; }
    body footer .logo {
      width: 110px;
      height: 28px;
      float: left;
      margin-right: 0;
      background: url(../img/logo-cace.png) no-repeat left center; }
    body footer .fa {
      margin-left: 15px;
      margin-right: 5px; }
    body footer #footer-menu {
      margin-top: 60px; }
      body footer #footer-menu ul li {
        padding: 5px; }
    body footer .footer-mobile {
      padding-top: 60px;
      padding-bottom: 60px; }
      body footer .footer-mobile .logo {
        float: none;
        display: inline-block;
        margin: 0px; }
      body footer .footer-mobile .fa {
        margin-left: 0px; }
    body footer hr {
      margin-top: 0px;
      border-color: #ececed; }
    body footer a {
      color: #fff; }
      body footer a:hover {
        color: #fff; }
  body #offcanvas {
    background: #f8f8f8;
    position: fixed;
    top: 0;
    width: 300px;
    right: -300px;
    z-index: 999;
    height: 100%;
    overflow-y: auto;
    color: #333; }
    body #offcanvas.active {
      display: block; }
    body #offcanvas .offmenu {
      padding: 20px;
      border-bottom: 1px solid #e4e4e4; }
      body #offcanvas .offmenu li {
        padding: 3px 0;
        font-size: 15px; }
        body #offcanvas .offmenu li a {
          display: block;
          padding: 5px;
          text-decoration: none;
          color: #333; }
          body #offcanvas .offmenu li a:hover {
            color: #4582DD; }
      body #offcanvas .offmenu.social li a {
        display: inline-block; }
      body #offcanvas .offmenu.full li {
        margin-right: -20px;
        margin-left: -20px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 2px;
        background: #57585a;
        color: #fff; }
        body #offcanvas .offmenu.full li.bg-medicos {
          background: #4582DD; }
        body #offcanvas .offmenu.full li.bg-estetica {
          background: #CD3955; }
        body #offcanvas .offmenu.full li.bg-online {
          background: #75AD24; }
        body #offcanvas .offmenu.full li a {
          color: #fff; }
  body .bg-medicos {
    background: #4582DD; }
  body .bg-celeste {
    background: #0088ec; }
  body .main-title {
    padding-top: 20px;
    padding-bottom: 20px; }
    body .main-title.cace-main-container {
      padding-top: 20px !important;
      padding-bottom: 20px !important; }
    body .main-title h1 {
      font-weight: 400;
      font-size: 27px;
      color: #fff;
      text-transform: uppercase; }
    body .main-title .searchform {
      position: relative;
      margin-left: 80px; }
      body .main-title .searchform .form-control {
        border: 0px;
        border-bottom: 1px solid #fff;
        background: transparent;
        color: #fff;
        padding: 0;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        position: relative;
        border-radius: 0px; }
        body .main-title .searchform .form-control::placeholder {
          color: #fff; }
        body .main-title .searchform .form-control:focus::placeholder {
          color: transparent; }
      body .main-title .searchform .fa-search {
        position: absolute;
        top: 8px;
        color: #fff;
        right: 5px; }
      body .main-title .searchform input::-webkit-input-placeholder,
      body .main-title .searchform input::-moz-placeholder,
      body .main-title .searchform input:-ms-input-placeholder,
      body .main-title .searchform input:-moz-placeholder,
      body .main-title .searchform input::placeholder {
        color: #fff; }
  body .form-control {
    border: 0px;
    border-bottom: 1px solid #777;
    background: transparent;
    padding: 5px 0;
    border-radius: 0px;
    font-size: 14px;
    font-weight: light; }
    body .form-control::placeholder {
      color: #777; }
    body .form-control:focus::placeholder {
      color: transparent; }
  body .input-group .input-group-text {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #777;
    border-radius: 0; }
  body .btn-gris {
    font-size: 12px;
    padding: 10px 12px;
    background: #ccc;
    color: #fff;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: bold;
    border: none; }
    body .btn-gris:hover {
      background: #0088ec; }
  body .btn-celeste {
    font-size: 14px;
    padding: 10px 12px;
    background: #0088ec;
    color: #fff;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.8;
    border: none; }
    body .btn-celeste:hover {
      opacity: 1;
      background: #0088ec; }
  body .btn-transparente {
    font-size: 12px;
    padding: 10px 12px;
    background: transparent;
    color: #777;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: bold;
    border: none; }
    body .btn-transparente:hover {
      background: #0088ec;
      color: #fff; }
  body article.profesional {
    padding-top: 40px;
    padding-bottom: 25px;
    border-bottom: 1px solid #aeaeae;
    color: #777;
    margin-right: 20px; }
    body article.profesional:last-child {
      border-bottom: none; }
    body article.profesional h2 {
      margin-top: 8px !important; }
      body article.profesional h2 a {
        font-size: 22px;
        color: #222222;
        line-height: 20px;
        font-weight: 600;
        text-transform: lowercase; }
        body article.profesional h2 a:hover {
          color: #095d7e; }
    body article.profesional h3 {
      font-size: 12px;
      color: #757575;
      text-transform: uppercase;
      font-weight: 600;
      padding-top: 0px;
      margin-bottom: 0px; }
      body article.profesional h3 a {
        color: inherit; }
        body article.profesional h3 a:hover {
          color: #0088ec;
          text-decoration: none; }
    body article.profesional h1 {
      font-size: 20px;
      font-weight: 800;
      margin-bottom: 0px;
      margin-top: 10px;
      padding-left: 135px; }
      body article.profesional h1 a {
        color: inherit; }
        body article.profesional h1 a:hover {
          color: #0088ec;
          text-decoration: none; }
    body article.profesional ul.contacto {
      color: #000;
      font-size: 14px;
      font-weight: 600;
      margin-top: -5px; }
      body article.profesional ul.contacto li {
        padding-top: 5px;
        padding-bottom: 5px; }
        body article.profesional ul.contacto li .fa-li {
          margin-top: 5px; }
    body article.profesional .btn-mas {
      color: #222;
      text-transform: uppercase; }
      body article.profesional .btn-mas:hover {
        color: #0088ec;
        text-decoration: none; }
    body article.profesional.ficha h3 {
      font-size: 25px;
      border-bottom: 1px solid #ccc;
      font-weight: normal;
      padding-bottom: 12px;
      margin-bottom: 20px;
      text-transform: none; }
    body article.profesional.ficha .ficha-header .status-info {
      display: inline-block;
      background: #f19528;
      padding: 10px 12px;
      color: #fff;
      vertical-align: middle;
      border: 1px solid #f19528;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase; }
      body article.profesional.ficha .ficha-header .status-info.publicado {
        background: #0088ec;
        border-color: #0088ec; }
  body .sidebar {
    /*@media (min-width: 768px) {
			display: block !important;
		} */
    min-height: 100%; }
    body .sidebar .sidebar-inner {
      padding-top: 45px; }
      body .sidebar .sidebar-inner .wpr-categorias h3 {
        color: #0088ec;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 20px; }
      body .sidebar .sidebar-inner .wpr-categorias ul.list-categorias li {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #a5a5a7; }
        body .sidebar .sidebar-inner .wpr-categorias ul.list-categorias li a {
          color: #a5a5a7; }
          body .sidebar .sidebar-inner .wpr-categorias ul.list-categorias li a:hover {
            color: #0088ec; }
      body .sidebar .sidebar-inner .btn-celeste {
        font-size: 12px; }
  body .wpr-registro-inicio {
    padding: 40px; }
    body .wpr-registro-inicio .row .col:first-child {
      border-right: 1px solid #777; }
    body .wpr-registro-inicio .row form {
      padding: 50px; }
