@import "colors";

body{

	font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.428571429;
	color: @gris-medio;
	background-color: #fff;

	a:hover{
		text-decoration: none; 
	}

	h1{
		font-size: 30px;
		text-transform: uppercase;
	}

	h2{
		font-size: 24px;
		text-transform: uppercase;
		font-weight: bold;
		color: #222222;		
	}

	h3{
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 800;
		color: #777777;
	}


	#page{
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
    }

	&.offcanvas{
		overflow: hidden;
		#page{
			position: relative;
			transform: translate(-300px);
		}
	}

	.logo{
		width: 110px;
		height: 90px;
		display: inline-block;
		margin-right: 0;
		float: left;
		background: url(../img/logo-cace.png) no-repeat right center;			
	}

	#small-button{
		font-size: 25px;
		padding: 5px 15px;
		margin-top: 5px;		
		background: @azul-claro;
		color: @blanco;
		border-color: @azul-claro;
		border-radius: 0;

		&:hover{
			background: @azul;
			border-color: @azul;
		}
	}

	#btnSlideup{
		font-size: 40px;
		color: rgba(0,0,0,0.5);
		position: fixed;
		left: 8px;
		bottom: 8px;		
	}


	.bg-blue{
		background: @azul-claro !important; 
	}

	.bg-gris{
		background: @gris !important; 
	}

	.cace-main-container{
		padding: 0 60px;
		width: 100%;
		margin-left:  auto;
		margin-right:  auto;
	}

	.container-profesionales{
		padding-right: 15px;
	
		&.formulario{
			margin-bottom: 50px;
		}
	}

	.top-header{
		height: 30px;
		background: @azul;
		color: @blanco;
		font-size: 12px;
		font-weight: 400;
		overflow: hidden;		

		ul{
			margin-top: 6px;
		    li a{
				color: @blanco;

				&:hover{
					color: @naranja;
					text-decoration: none;
				}
			}
		}

		.container-fluid{
			padding-left: 60px;
			padding-right: 60px;
		}
	}

	#masthead{
		
		overflow: hidden;
		z-index: 4;
		position: relative;

		.container-fluid{
		}

		.primary-header{
			width: 100%;
			height: 90px;
			overflow: hidden;
			z-index: 4;
			position: relative;
			height: 90px;
			background: @azul-claro;
		}


		.site-description{
			h1{
				vertical-align: middle;
				margin-top: 20px;
				img{
					padding-left: 15px;
				}
			}
		}
	}

	#secondary-menu{
		color: @blanco;
		text-transform: uppercase;
		margin-top: 33px;
		font-size: 12px;		
		ul{
			li{
				margin-left: 5px;
				a{
					color: @blanco;
				}

				&.icon{
					font-size: 20px;
					margin-top: -5px;
					color: @blanco;					
				}
			}
		}
	}

	#nav-principal{
		background: @gris;
		z-index: 99;
		position: relative;
		border-bottom: 2px solid #ccc;

		&.menu-fixed{
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
		}
		

		.navbar{
			margin-left: -32px;
			padding-top: 0px;
			padding-bottom: 0px;

			.nav-item{
				opacity: 1;
				margin-bottom: -2px;
				border-bottom: 2px solid transparent;

				.nav-link{
					color: @gris-medio;
					padding: 12px 15px;
					line-height: 20px;
					text-transform: uppercase;

					&:hover{
						background: @azul-claro;
						color: @blanco;
						border-bottom:2px solid @azul;
						margin-bottom: -2px;
					}

				}

				&.home{
					.nav-link{
						height: 44px;
						padding: 0px;
						line-height: 44px;
						width: 44px;
						text-align: center;

						&:hover{
							height: 46px;
						}
					}
				}

				&.medicos{
					margin-left: 4px;
					border-color: @color-medicos;
					.nav-link:hover{
						background: @color-medicos;
					}
				}

				&.estetica{
					border-color: @color-estetica;
					.nav-link:hover{
						background: @color-estetica;
					}
				}

				&.online{
					border-color: @color-online;
					.nav-link:hover{
						background: @color-online;
					}
				}

				&.cacetv{
					border-color: @color-cacetv;
					.nav-link:hover{
						background: @color-cacetv;
					}
				}


			}
		}
	}

	footer{
		color: @blanco;
		bottom: 0;
		position: relative;
		padding-top: 60px !important;
		padding-bottom: 60px !important;;		
	
		h5{
			text-transform: inherit;
			line-height: 30px;
			font-weight: 400;
			font-size: 13px;		
			margin-top: 10px;	
		}

		.logo{
			width: 110px;
			height: 28px;
			float: left;
			margin-right: 0;
			background: url(../img/logo-cace.png) no-repeat left center;			
		}

		.fa{
			margin-left: 15px;
			margin-right: 5px;
		}

		#footer-menu{
			margin-top: 60px;
			ul{
				li{
					padding: 5px;
				}
			}
		}

		.footer-mobile{
			padding-top: 60px;
			padding-bottom: 60px;
			.logo{
				float: none;
				display: inline-block;
				margin: 0px; 
			}

			.fa{
				margin-left: 0px;
			}
		}

		hr{
			margin-top: 0px;
			border-color: @gris;
		}


		a{
			color: @blanco;

			&:hover{
				color: @blanco;
			}

		}

	}

	#offcanvas{

		background: @tiza;
	    position: fixed;
	    top: 0;
	    width: 300px;
	    right: -300px;
	    z-index: 999;
	    height: 100%;
	    overflow-y: auto;
	    color: @gris-oscuro;
//	    display: none;

	    &.active{
	    	// right: 0;
	    	display: block;
	    }

	    .offmenu{
	    	padding: 20px;
	    	border-bottom: 1px solid @gris-borde;

	    	li{
				padding: 3px 0;
				font-size: 15px;	    		
	    		a{
	    			display: block;
	    			padding: 5px;
	    			text-decoration: none;
	    			color: @gris-oscuro;
	    			&:hover{
	    				color: @color-medicos;
	    			}
	    		}

	    	}

	    	&.social{
	    		li{
	    			a{
	    				display: inline-block;
	    			}
	    		}
	    	}

	    	&.full{
	    		li{
	    			margin-right: -20px;
	    			margin-left: -20px;
	    			padding-left: 20px;
	    			padding-right: 20px;
	    			margin-bottom: 2px;
	    			background: @color-cacetv;
	    			color: @blanco;

		    		&.bg-medicos{
		    			background: @color-medicos;
		    		}
		    		&.bg-estetica{
		    			background: @color-estetica;
		    		}
		    		&.bg-online{
		    			background: @color-online;
		    		}

	    			a{
	    				color: @blanco;	    				
	    			}
	    		}
	    	}
	    }
	}

	/* GENERALES */

	.bg-medicos{
		background: @color-medicos;
	}

	.bg-celeste{
		background: @celeste;
	}

	.main-title{

		padding-top: 20px;
		padding-bottom: 20px;

		h1 {
			font-weight: 400;
			font-size: 27px;
			color: @blanco;
			text-transform: uppercase;
		}

		.searchform{
			position: relative;
			margin-left: 80px;
			.form-control{
				border: 0px;
				border-bottom: 1px solid @blanco;
				background: transparent;
				color: @blanco;
				padding: 0;
				height: 30px;
				line-height: 30px;
				font-size: 14px;
				position: relative;
				border-radius: 0px;

				&::placeholder{
					color: @blanco;
				}

				&:focus::placeholder{
					color: transparent;
				}

				

			}

			.fa-search{
				position: absolute;
				top: 8px;
				color: @blanco;
				right: 5px;
			}

			input{
				&::-webkit-input-placeholder,
				&::-moz-placeholder,
				&:-ms-input-placeholder,
				&:-moz-placeholder,
				&::placeholder{
					color: @blanco;
				}

			}
		}

	}

	.form-control{
		border: 0px;
		border-bottom: 1px solid @gris-medio;
		background: transparent;
		padding: 5px 0;
		border-radius: 0px;
		font-size: 14px;
		font-weight: light;

		&::placeholder{
			color: @gris-medio;
		}

		&:focus::placeholder{
			color: transparent;
		}
	}


	.input-group{
		.input-group-text{
			background-color: transparent;
			border: none;
			border-bottom: 1px solid @gris-medio;
			border-radius: 0;
		}
	}



	.btn-gris{
		font-size: 12px;
		padding: 10px 12px;
		background: #ccc;
		color: @blanco;
		border-radius: 0;
		text-transform: uppercase;
		font-weight: bold;
		border: none;
		&:hover{
			background: @celeste;
		}
	}

	.btn-celeste{
		font-size: 14px;
		padding: 10px 12px;
		background: @celeste;
		color: @blanco;
		border-radius: 0;
		text-transform: uppercase;
		font-weight: bold;
		opacity: 0.8;
		border: none;
		&:hover{
			opacity: 1;
			background: @celeste;
		}
	}

	.btn-transparente{
		font-size: 12px;
		padding: 10px 12px;
		background: transparent;
		color: @gris-medio;
		border-radius: 0;
		text-transform: uppercase;
		font-weight: bold;
		border: none;
		&:hover{
			background: @celeste;
			color: @blanco;
		}
	}



	article.profesional{
		padding-top: 40px;
		padding-bottom: 25px;
		border-bottom: 1px solid #aeaeae;
		color: #222222;
		margin-right: 20px;

		&:last-child{
			border-bottom: none;
		}

		h3{
			font-size: 12px;
			color: #757575;
			text-transform: uppercase;
			font-weight: 800;
			padding-top: 20px;
			margin-bottom: 0px;

			a{
				color: inherit;
				&:hover{
					color: @celeste;
					text-decoration: none;
				}
			}
		}

		h1{

			font-size: 20px;
			font-weight: 800;
			margin-bottom: 0px;
			margin-top: 10px;
			padding-left: 135px;

			a{
				color: inherit;
				&:hover{
					color: @celeste;
					text-decoration: none;
				}
			}

		}

		ul.contacto{
			color: @negro;
			font-size: 14px;
			font-weight: 600;
			margin-top: -5px;

			li{
				padding-top: 5px;
				padding-bottom: 5px;

				.fa-li{
					margin-top: 5px;
				}
			}
		}

		.btn-mas{
			color: #222;
			text-transform: uppercase;
			&:hover{
				color: @celeste;
				text-decoration: none;
			}
		}

		&.ficha{
			h3{
				font-size: 25px;
				border-bottom: 1px solid #ccc;
				font-weight: normal;
				padding-bottom: 12px;
				margin-bottom: 20px;
				text-transform: none;
			}

			.ficha-header{
				.status-info{
					display: inline-block;
					background: #f19528;
					padding: 10px 12px;
					color: @blanco;
					vertical-align: middle;
					border: 1px solid #f19528;
					font-size: 12px;
					font-weight: bold;
					text-transform: uppercase;
					
					&.publicado{
						background: @celeste;
						border-color: @celeste;
					}
				}
			}
		}
	}

	.sidebar{
		min-height: 100%;
		.sidebar-inner{
			
			padding-top: 45px; 

			.option-sidebar{
				// margin: -70px -60px;
			}

			.wpr-categorias{
				h3{
					color: @celeste;
					font-size: 20px;
					text-transform: uppercase;
					font-weight: 800;
					margin-bottom: 20px;
				}

				ul.list-categorias{
					li{
						padding-top: 10px;
						padding-bottom: 10px;
						border-bottom: 1px solid #a5a5a7;

						a{
							color: #a5a5a7;
							&:hover{
								color: @celeste;

							}
						}
					}
				}
			}

			.btn-celeste{
				font-size: 12px;
			}
		}


	}

	/* REGISTRO E INICIO */
	.wpr-registro-inicio{
		padding: 40px;

		.row{
			.col:first-child{
					border-right: 1px solid @gris-medio;
			}

			form{
				padding: 50px;
			}
		}

	}
}