@import "colors.less";

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
	body{
		.cace-main-container{
			padding: 0 30px !important; 
		}

		#masthead{
			.primary-header, .logo{
				height: 60px;
			}
		}
	}
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
	body{
		.cace-main-container{
			padding: 0 30px !important; 
		}

		#masthead{
			.primary-header, .logo{
				height: 60px;
			}

			.site-description h1{
				margin-top: 5px;
			}
		}
	}
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 
}

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width