/* COLORES */
@media (max-width: 767.98px) {
  body .cace-main-container {
    padding: 0 30px !important;
  }
  body #masthead .primary-header,
  body #masthead .logo {
    height: 60px;
  }
}
@media (max-width: 991.98px) {
  body .cace-main-container {
    padding: 0 30px !important;
  }
  body #masthead .primary-header,
  body #masthead .logo {
    height: 60px;
  }
  body #masthead .site-description h1 {
    margin-top: 5px;
  }
}
