/* COLORES */
$azul: #074056;
$blanco: #fff;
$naranja: #efa11d;	
$azul-claro: #095d7e;
$gris: #ececed;
$gris-oscuro: #333;
$gris-medio: #777;
$negro: #000;
$tiza: #f8f8f8;
$gris-borde: #e4e4e4;

$color-medicos: #4582DD;
$color-estetica: #CD3955;
$color-online: #75AD24;
$color-cacetv: #57585a;

$celeste: #0088ec;